@import "../../../styles.scss";


.section {
  display: grid;
  margin-bottom: 60px;

  &:last-child { margin-bottom: 0; }

  .img-wrapper {
    position: relative;
    min-height: 180px;

    .img-title {
      position: absolute;
      color: $white;
      padding: 15px 25px;
      font-size: 2rem;
      font-family: "Noto Serif TC", serif;

      &.green {
        background-color: rgba($green, 0.8);
      }

      &.gold {
        background-color: rgba($gold, 0.8);
      }
    }

    .img-box {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

  }

  .about-text { color: $dark-grey; }

  &.text-right {
    grid-template-columns: 2fr 3fr;
    .img-title {
      left: -20px;
      bottom: -20px;
    }
    .about-text { padding: 60px 0 60px 60px; }
  }

  &.text-left {
    grid-template-columns: 3fr 2fr;
    .img-title {
      right: -20px;
      bottom: -20px;
    }
    .about-text { padding: 60px 60px 60px 0; }
  }

}


@media (max-width: 800px) {

  .container {
    padding: 0 !important;
  }

  .section {
    grid-template-columns: 1fr !important;

    .about-text { padding: 40px 20px !important; }
    .img-title { font-size: 1.5rem !important; }

    &.text-right {
      .img-title {
        left: 20px;
        bottom: -20px;
      }
    }

    &.text-left {
      display: flex;
      flex-direction: column-reverse;
      .img-title {
        right: 20px;
        bottom: -20px;
      }
    }
  }
}
