<h2 class="section-title c-blue">Alles over Lorem Ipsum</h2>
<hr class="section-hr">

<div class="center">
  <div class="container">

    <div class="section text-right">
      <div class="img-wrapper">
        <div class="img-box">
          <img src="assets/002.jpg" alt="">
        </div>
        <div class="img-title gold">
          Dagvers menu
        </div>
      </div>
      <div class="text">
        <p>Onze keuken serveert U elke dag, 7 op 7 en zowel ’s middags als ’s avonds, een gevarieerd aanbod van 8 smaakvolle gerechten. Vlees of vis ...aan U de keuze...elke dag opnieuw. Dit aanbod evolueert mee met de seizoenen en alle gerechten zijn hierboven al op voorhand te raadplegen.</p>
      </div>
    </div>


    <div class="section text-left">

      <div class="text">
        <p>Lekker en gevarieerd, open en transparant, verzorgd en vlot. Maar evengoed warm en huiselijk, sfeervol en gezellig, eerlijk en vriendelijk ... en allemaal zonder eindeloos te moeten wachten op jouw favoriet gerecht. Daar gaan wij voor. De hele namiddag of direct na je hoofdgerecht laten we jou genieten van die heerlijke koude én warme dessertjes.
        </p>
      </div>

      <div class="img-wrapper">
        <div class="img-box">
          <img src="assets/003.jpg" alt="">
        </div>
        <div class="img-title green">
          De gerechten
        </div>
      </div>

    </div>

  </div>
</div>
