<div class="center">
  <div class="container">

    <div class="footer-grid">

      <div class="footer-box">
        <div class="logo">
          <img src="assets/logo.png" alt="Logo">
        </div>
        <h4>Gezellenlaan 42</h4>
        <h4>8730 Sint-Baafs</h4>
        <h4>info&#64;loremipsum.be</h4>
        <h3 class="c-gold"><i class="fas fa-phone"></i>089 / 34 56 78</h3>
      </div>

      <div class="footer-box">
        <h4>Menu</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="footer-box">
        <h4>Openingsuren</h4>
        <p>Van dinsdag tot en met donderdag zijn wij enkel open voor groepen en evenementen tot 80 personen en volgens uw budget.</p>
      </div>

      <div class="footer-box">
        <h4>Nieuwsbrief</h4>
        <p>Blijf op de hoogte van onze activiteiten</p>
      </div>

    </div>

    <hr>

    <div class="footer-extra">
      <small class="c-grey">Copyright 2017. Website by <span class="c-gold">Hamal Nick</span></small>
      <div class="right-buttons">
          <a class="round-button" href="views/login.php"><i class="fa-brands fa-facebook-f"></i></a>
          <a class="round-button" href="views/register.php"><i class="fa-brands fa-twitter"></i></a>
          <a class="round-button" href="views/register.php"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>

  </div>
</div>
