<div class="header">
  <div class="left-buttons">
      <a class="round-button" href="views/login.php"><i class="fa-brands fa-facebook-f"></i></a>
      <a class="round-button" href="views/register.php"><i class="fa-brands fa-twitter"></i></a>
      <a class="round-button" href="views/register.php"><i class="fa-brands fa-instagram"></i></a>
  </div>

  <div class="logo">
    <img src="assets/logo.png" alt="Logo">
  </div>

  <div class="right-buttons">
    <a class="round-button large" href="views/register.php"><i class="fas fa-bars"></i></a>
  </div>
</div>
