<div class="reservation bc-blue">
  <div class="center">
    <div class="container">

      <div class="reservation-title">
        <div class="reservation-online">
          <h3>Online reserveren</h3>
          <p class="c-light-grey">* Een reservatie is pas compleet na bevestiging van het restaurent</p>
        </div>
        <div class="reservation-phone">
          <h3>Telefonisch reserveren</h3>
          <p class="c-gold"><i class="fas fa-phone"></i>089 / 34 56 78</p>
        </div>
      </div>

      <div class="inputs">
        <input class="input-white" type="text" placeholder="E-mail *">
        <input class="input-white" type="text" placeholder="Datum">
        <select class="select-white">
          <option>Uur</option>
          <option value="16:00">16:00</option>
          <option value="17:00">17:00</option>
          <option value="18:00">18:00</option>
          <option value="19:00">19:00</option>
          <option value="20:00">20:00</option>
        </select>
        <select class="select-white">
          <option value="1">1 persoon</option>
          <option value="2">2 personen</option>
          <option value="3">3 personen</option>
          <option value="4">4 personen</option>
          <option value="5">5 personen</option>
          <option value="6">6 personen</option>
        </select>
        <button class="button gold">Vraag een reservatie aan *</button>
      </div>

    </div>
  </div>
</div>
