@import '../../../styles.scss';

.side-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

ul {
  list-style: none;

  li {
    width: 100%;
    background-color: #fff;
    transition: background-color 0.3s ease;
    padding: 20px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: black;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.brands-section {
  display: flex;
  justify-content: center;
}
