<div class="image-box">
  <img src="assets/004.jpg" alt="">
  <div class="image-overlay"></div>
  <div class="menucart-content">
    <div class="center">
      <div class="container">
        <div class="title">
          <h1>Bekijk</h1>
          <h1>onze menukaart</h1>
        </div>
        <div class="actions">
          <button class="button gold">Bekijk online</button>
          <button class="button outline outline-white">Download pdf</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blue-line"></div>
