<div class="banner">
  <div class="box">
    <img src="assets/001.jpg" alt="Logo">
  </div>

  <div class="content">
    <div class="center intro-section">
      <div class="container">
        <div class="info-box">
          <h1>Welkom bij restaurant Lorem Ipsum</h1>
          <p class="text c-grey">
            fugiat laboris laboris et esse ut sunt exercitation irure sunt sit mollit aute officia nisi velit qui cillum excepteur tempor aliquip qui elit dolor ex reprehenderit eu magna veniam aliqua irure ea officia Lorem sit aliquip officia cillum occaecat reprehenderit
          </p>
          <div class="actions">
            <button class="button outline">Ons menu</button>
            <button class="button green">Contacteer ons</button>
          </div>
        </div>
      </div>
    </div>

    <app-reservation class="banner-reservation"></app-reservation>
  </div>
</div>

<app-reservation class="reservation-out-banner"></app-reservation>
